<?php return [
	'domain' => '{{domain}}',
	'dev-mode' => true,
	'color-log' => true,
	'database' => 'mysql://{{dbuser}}:{{dbpass}}@{{dbhost}}:{{dbport}}/{{db}}?charset=utf8',
	'thumbnailCrc32Salt' => "{{random}}"
];