<VirtualHost *:80>
	ServerName {{domain}}
	ServerAlias *.{{domain}}

	DocumentRoot "{{path}}/public/"
	ErrorLog {{path}}/var/log/error.log

    # You sholud allow overrides in this directory, or put content of .htaccess file here
    <Directory {{path}}/public>
        AllowOverride All
    </Directory>

</VirtualHost>
