<?php namespace App\Entity\{{name}};

/**
 * px: @method static \App\Entity\{{name}}\{{name}}Repository repository()
 * px: @method static \App\Entity\{{name}}\{{name}}Model model()
 * px: @property-read integer $id
 */

class {{name}} extends \Phlex\RedFox\Entity{

}